* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0px;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;                        /* comando que centraliza os elementos na página */
    text-transform: uppercase;                      /* deixa o texto em maiúsculo */
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, 
button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#cancelar {
    background-color: red;
}

ul {
    display: flex;                   /* Display Flex faz com que os elementos fiquem um do lado do outro */
    flex-wrap: wrap;                 /* Wrap é um comando q faz com que caso a quantidade de elementos atinja o limite máximo da tela cria-se uma nova "linha" de elementos abaixo */
}

ul li {
    max-width: 25%;                 /* 25% faz com que caiba apenas 4 elementos em cada linha */
    list-style: none;               /* remove "bolinhas" da lista indesejadas */
    position: relative;
    max-height: 280px;              /* isso faz com que eu limite o tamanho da parte do li. Na prática, ajusta a altura do Ver imagem... */
    overflow-y: hidden;             /* ele oculta todos os elementos (na prática as imagens) que estão ultrapassando o tamanho do li, além disso funciona como um gráfico X é horizontal e Y é vertical */
}

ul li img {                        /* isso faz com que as imagens se ajustem no tamanho correto para caber dentro dos seus respectivos espaços */
    width: 100%;
    height: 100%;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;             /* ele ajusta a posição do elemento ao fim da página, para que ele não se desloque é importante adicionar o elemento position relative na tag pai, no caso é UL LI */
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;                     /* essa parte oculta / zera a opacidade da barrinha do link, no caso queremos que quando passemos o mouse em cima da imagem, essa barra se mostre novamente*/
    transition: all ease .5s;       /* adiciona uma animação ao elemento */
}

.overlay-imagem-link a {           /* estiliza a parte do texto do link */
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {          /* quando eu passar o mouse em cima da imagem, ele vai subir a opacidade para 1 (ou 100%) de volta */
    opacity: 1;
}

